{% extends "index.html" %}

{% block lan_cur %}en{% endblock %}

{% block nav_acc %}
    Accomodation
{% endblock %}
{% block nav_rat %}
    Rates &amp; Availability
{% endblock %}
{% block nav_are %}
    Our Area
{% endblock %}
{% block nav_res %}
    Reservations
{% endblock %}
{% block nav_gue %}
    Guestbook
{% endblock %}

{% block welcome %}
    Welcome to
{% endblock %}

{% block acc_tit %}
    Accomodation
{% endblock %}
{% block acc_des %}
    Welcome to our exquisite villa perched above the Cez river on the outskirts of Saint Ambroix in the department of the Gard. Just minutes from the extensive amenities of the town and within easy distance of three world heritage sites and other historic attractions, this luxurious retreat offers uninterrupted views across the valley. With its timeless blend of elegance and modern comfort, it promises an unforgettable holiday for families, friends or couples seeking a secluded romantic getaway.
{% endblock %}
{% block acc_sl1_tit %}
    Exterior and Surroundings
{% endblock %}
{% block acc_sl1_des %}
    As you arrive at the villa, you will be captivated by the stunning stone facade with blooming bougainvillea and wisteria exuding rustic charm. Surrounded by a garden that remains green all summer with olive trees, lilac and fragrant rosemary, the property offers a serene ambiance and breathtaking views of the Cevennes countryside. Enjoy lazy mornings on the terrace and evenings of mesmerizing sunsets.
{% endblock %}
{% block acc_sl2_tit %}
    Indoor Living Spaces
{% endblock %}
{% block acc_sl2_des %}
    Step inside the villa to find a seamless blend of traditional French architecture and contemporary design. Elegant furnishings, white, high-beamed ceilings and stone floors create a calm and relaxing atmosphere. The spacious main living room has windows on two sides that bathe the space in natural light and showcase spectacular views, whilst electric shutters shut out the heat of the day. A stylish kitchen is equipped with everything needed to prepare delicious meals from local ingredients and leads through to a second tranquil living room with a log burner for cooler autumn evenings.
{% endblock %}
{% block acc_sl3_tit %}
    Bedrooms
{% endblock %}
{% block acc_sl3_des %}
    Comfortably accommodating eight guests in three doubles and one twin room, each bedroom is elegantly and individually styled to suit the age of the property, with cool cotton bed linen and towels adding further touches of luxury. Thought has been given to keeping youngsters safe and amused in the early mornings, with the large first floor landing equipped with TV, Xbox, DVDs and games. There is a family bathroom with shower and a separate toilet on the first floor, and a ground floor shower room with toilet that is easily accessible from the pool area.
{% endblock %}
{% block acc_sl4_tit %}
    Outdoor Delights
{% endblock %}
{% block acc_sl4_des %}
    The large pool area surrounded by olive trees is perfectly designed and equipped for fun, relaxing and eating outside. After barbequing by the pool you can eat comfortably under the wisteria edged canopy, before sunbathing or relaxing in the shaded poolside lounge area. A second, but connected, covered terrace offers space for table tennis and board games whilst protected from the sun. Bounded by a disused railway line and wooded hillside to the rear, the villa, pool and garden cannot be overlooked.
{% endblock %}
{% block acc_sli_nex %}
    Next
{% endblock %}
{% block acc_sli_pre %}
    Previous
{% endblock %}

{% block acc_inf_hou %}
    House
{% endblock %}
{% block acc_inf_gue %}
    8 Guests
{% endblock %}
{% block acc_inf_bed %}
    4 Bedrooms
{% endblock %}
{% block acc_inf_bat %}
    2 Bathrooms
{% endblock %}

{% block acc_inf_sml_wif %}
    Free Wifi
{% endblock %}
{% block acc_inf_sml_swi %}
    Swimming pool
{% endblock %}
{% block acc_inf_sml_kit %}
    Kitchen
{% endblock %}
{% block acc_inf_sml_was %}
    Washing machine
{% endblock %}
{% block acc_inf_sml_pet %}
    Pets welcome
{% endblock %}
{% block acc_inf_sml_chi %}
    Child friendly
{% endblock %}
{% block acc_inf_amn %}
    Show all 50 amenties
{% endblock %}

{% block acc_inf_inf_tit %}
    Information
{% endblock %}
{% block acc_inf_inf_des %}
    Offering secure parking for up to 4 cars in private grounds of over 1600 m2 with 18 olive trees thro
{% endblock %}

{% block acc_inf_inf_des2 %}
    ugh automatic gates.<br>
    <br>
    Originally built as a stone barn and sympathetically converted and extended, it offers a mix of traditional and modern living spaces.<br>
    <br>
    With stunning views in an elevated position at the very edge of the town, the house and grounds are not overlooked and have unbroken views along the river Ceze and across a wooded valley to the hills beyond, yet the property is only minutes from supermarkets and the full facilities of Sainte Ambroix - an historic, thriving medieval market town with many cafés and restaurants. Teenagers and adults will be equally delighted that it is just five minutes walk down to a river beach and friendly bistro that cannot be seen or heard from the property <br>
    <br>
    Outside areas offer a variety of both sunny and shaded spaces to eat, relax or play: two large covered patios with dining tables, outdoor cooking area, 40m2 pool and additional poolside shaded seating area.<br>
    <br>
    The main living room and the open-plan, well equipped kitchen are bright and modern with full glass walls on two sides and electric shutters to keep them cool. A second cosy sitting room with feature fireplace and wood burner leads on to an office equipped with printer and monitor should you need to work during your stay.<br>
    <br>
    Four bedooms (three double one twin) are individually styled, with the two main rooms offering fantastic views over the valley. There is a family shower room with toilet and a second toilet on the first floor, as well as a shower room with toilet on the ground floor.<br>
    <br>
    Saint Ambroix is in the upper valley of the Cèze; located at the eastern edge of the Cevennes only 30 minutes southwest of the Ardèche Gorges and the unmissable Vallon Pont d’Arc. Ideally located for exploring the “villages de caractère” such as Lussan and its potteries, antiques market in Barjac or the historic market town of Uzès, the property is also around an hour and a quarter drive from three world heritage sites; Pont du Gard, the amphitheatre at Orange, the Palais de Pape at Avignon.<br>
    <br>
    For sports enthusiasts there are water and rope adventures in the Cèze, the Chassezac or the Barrage de Villefort, plus numerous climbing and mountaineering, walking, hiking, and cycling routes.<br>
    <br>
    Rooms:<br>
    • 4 bedrooms sleeping 8<br>
    • 2 shower rooms with toilets<br>
    • Separate toilet<br>
    • 2 sitting rooms<br>
    • Kitchen<br>
    • Study/office<br>
    • 2 large outdoor covered dining areas/tables<br>
    • Outdoor covered lounge area<br>
    <br>
    Equipped with:<br>
    • 40m2 Pool with jacuzzi (guarded by a pool alarm), shaded seating, sunbeds and parasols<br>
    • Large screen smart TV, DVD player, Xbox, Wii, bluetooth speaker, digital radio, games and books<br>
    • Fibre broad band<br>
    • Computer monitor and printer<br>
    • Well equipped kitchen including Tassimo coffee machine, food processor, wine fridge<br>
    • Washer<br>
    • Table tennis table and outdoor games<br>
    • Stone BBQ plus webber kettle BBQ<br>
    <br>
    Arrival/Departure only on Sunday<br>
    <br>
    Included:<br>
    Linen is included in the price (bedlinen, towels for bathroom and pool).<br>
    Additional linen is available if required during your stay and can be provided for 25€ttc/person per stay for a full set. This can be ordered and paid for after booking.<br>
    <br>
    Not-included:<br>
    Tourism Tax<br>
    This is changed per adult per night and is collected on site by cheque or cash (except airbnb)<br>
    <br>
    Cleaning:<br>
    A compulsory "intermediate cleaning" fee of €250 is charged at the time of booking and corresponds to the disinfection and preparation of the house between two tenants.<br>
    <br>
    We ask our tenants to leave the house clean and tidy and as they found it when they leave (kitchen and sanitary facilities clean, fridge and cupboards emptied, bins emptied and recycling removed, etc.).<br>
    <br>
    Pets:<br>
    Pets are accepted in the house but we will ask you to pay a pet fee (30€/animal/week) to cover the increased cleaning time required and ask owners to be careful not to leave dog mess in the garden to spoil the stay of subsequent guests.<br>
    It must be advised prior to your stay that you are bringing a pet.<br>
    <br>
    Damage:<br>
    The deposit of €500 euros is not cashed unless damage is caused to the property.<br>
    Our secure deposit system (Swikly) simply holds the amount on your credit card.
{% endblock %}
{% block acc_inf_inf_rea %}
    Read more
{% endblock %}
{% block acc_inf_inf_hid %}
    Hide
{% endblock %}

{% block rat_tit %}
    Rates & availability
{% endblock %}
{% block rat_des %}
    Information about the rates & availability
{% endblock %}

{% block rat_ear_tit %}
    Low season
{% endblock %}
{% block rat_ear_jan %}
    April
{% endblock %}
{% block rat_ear_apr %}
    May
{% endblock %}
{% block rat_ear_may %}
September
{% endblock %}
{% block rat_ear_rat %}
    Rates per week
{% endblock %}
{% block rat_ear_jan_rat %}
    €1200 /  €1500
{% endblock %}
{% block rat_ear_apr_rat %}
€1200 /  €1500
{% endblock %}
{% block rat_ear_may_rat %}
€1200 /  €1500
{% endblock %}

{% block rat_hig_tit %}
    Mid season
{% endblock %}
{% block rat_hig_jul %}
    May - June
{% endblock %}
{% block rat_hig_rat %}
    Rates per week
{% endblock %}
{% block rat_hig_jul_rat %}
    €1750
{% endblock %}

{% block rat_lat_tit %}
    High season
{% endblock %}
{% block rat_lat_sep %}
   july
{% endblock %}
{% block rat_lat_oct %}
August
{% endblock %}
{% block rat_lat_nov %}
    November
{% endblock %}
{% block rat_lat_dec %}
    December
{% endblock %}
{% block rat_lat_rat %}
    Rates per week
{% endblock %}
{% block rat_lat_sep_rat %}
    €2350
{% endblock %}
{% block rat_lat_oct_rat %}
    €2350
{% endblock %}
{% block rat_lat_nov_rat %}
    €375
{% endblock %}    €2350

{% block rat_lat_dec_rat %}
    €375
{% endblock %}

{% block are_tit %}
    Our area
{% endblock %}
{% block are_des %}
    Explore the nearby area by choosing categories and clicking the map pins to learn more
{% endblock %}
{% block are_his %}
    Historical sites
{% endblock %}
{% block are_act %}
    Activities
{% endblock %}
{% block are_sce %}
    Scenery and walks
{% endblock %}
{% block are_sho %}
    Shopping
{% endblock %}
{% block are_map_pla %}
    Enter a location
{% endblock %}

{% block res_tit %}
    Reservations
{% endblock %}
{% block res_des %}
    Make a reservation here.
{% endblock %}
{% block res_nam %}
    Name
{% endblock %}
{% block res_ema %}
    Email
{% endblock %}
{% block res_arr %}
    Arrival (DD/MM/YY)
{% endblock %}
{% block res_dep %}
    Departure (DD/MM/YY)
{% endblock %}
{% block res_pho %}
    Phone number
{% endblock %}
{% block res_mes %}
    Your message *
{% endblock %}
{% block res_sen %}
    SEND MESSAGE
{% endblock %}
{% block res_con %}
    Alternatively contact us at: mas.de.barras@gmail.com
{% endblock %}

{% block gue_tit %}
    Guestbook
{% endblock %}
{% block gue_des %}
    See what other people have said about us!
{% endblock %}
{% block gue_wri %}
    Wrriten by
{% endblock %}
{% block gue_sec_wri %}
    Wrriten by
{% endblock %}
{% block gue_app %}
    Approve Review
{% endblock %}
{% block gue_del %}
    Delete Review
{% endblock %}
{% block gue_rev %}
    Looking to leave a review? Click Here!
{% endblock %}

{% block foo_own %}
    Jerry and Honey Barras - Owners
{% endblock %}
{% block foo_log %}
    Logout
{% endblock %}
{% block foo_por %}
    Staff Portal
{% endblock %}

{% block amn_tit %}
    Amenties
{% endblock %}

{% block amn_poo %}
    Pool
{% endblock %}
{% block amn_poo_swi %}
    Swimming pool
{% endblock %}
{% block amn_poo_pri %}
    Private pool
{% endblock %}

{% block amn_gen %}
    General
{% endblock %}
{% block amn_gen_wif %}
    Free Wifi
{% endblock %}
{% block amn_gen_was %}
    Washing machine
{% endblock %}
{% block amn_gen_wir %}
    Radio
{% endblock %}
{% block amn_gen_fir %}
    Fireplace
{% endblock %}
{% block amn_gen_che %}
    In person check-in
{% endblock %}
{% block amn_gen_hai %}
    Hair dryer
{% endblock %}
{% block amn_gen_han %}
    Hangers
{% endblock %}
{% block amn_gen_iro %}
    Iron
{% endblock %}
{% block amn_gen_lap %}
    Laptop friendly workspaces
{% endblock %}
{% block amn_gen_tv %}
    TV
{% endblock %}
{% block amn_gen_gri %}
    Outdoor gril / BBQ
{% endblock %}
{% block amn_gen_gar %}
    Garden
{% endblock %}
{% block amn_gen_hot %}
    Hot water
{% endblock %}
{% block amn_gen_ent %}
    Private entrance
{% endblock %}
{% block amn_gen_coo %}
    Cooking basics
{% endblock %}

{% block amn_kit %}
    Kitchen & Dining
{% endblock %}
{% block amn_kit_kit %}
    Kitchen
{% endblock %}
{% block amn_kit_toa %}
   Wine fridge
{% endblock %}
{% block amn_kit_dis %}
    Dishwasher
{% endblock %}
{% block amn_kit_mic %}
    Microwave
{% endblock %}
{% block amn_kit_ove %}
    Oven
{% endblock %}
{% block amn_kit_ket %}
    Electric kettle
{% endblock %}
{% block amn_kit_cof %}
    Coffee/Tea maker
{% endblock %}
{% block amn_kit_sto %}
    Stove
{% endblock %}
{% block amn_kit_ref %}
    Refrigerator
{% endblock %}
{% block amn_kit_hig %}
    High chair
{% endblock %}
{% block amn_kit_ute %}
    Kitchen utensils
{% endblock %}
{% block amn_kit_din %}
    Dining area
{% endblock %}
{% block amn_kit_tab %}
    Dining table
{% endblock %}
{% block amn_kit_bar %}
    Barbeque utensils
{% endblock %}
{% block amn_kit_ble %}
    Blender
{% endblock %}
{% block amn_kit_fre %}
    Freezer
{% endblock %}
{% block amn_kit_win %}
    Wine glasses
{% endblock %}

{% block amn_pol %}
    Policy
{% endblock %}
{% block amn_pol_pet %}
    Pets allowed
{% endblock %}
{% block amn_pol_chi %}
    Suitable for children
{% endblock %}
{% block amn_pol_inf %}
    Suitable for infants
{% endblock %}

{% block amn_saf %}
    Safety
{% endblock %}
{% block amn_saf_smo %}
    Smoke detector
{% endblock %}
{% block amn_saf_car %}
    Carbon monoxide detector
{% endblock %}
{% block amn_saf_aid %}
    First aid kit
{% endblock %}
{% block amn_saf_fir %}
    Fire extinguisher
{% endblock %}

{% block amn_car %}
    Parking / Car
{% endblock %}
{% block amn_car_par %}
    Free parking
{% endblock %}
{% block amn_car_nec %}
    Car necessary
{% endblock %}

{% block amn_ent %}
    Entertainment
{% endblock %}
{% block amn_ent_boo %}
    Books
{% endblock %}
{% block amn_ent_dvd %}
    DVDs
{% endblock %}
{% block amn_ent_pin %}
    Table tennis table
{% endblock %}
{% block amn_ent_vid %}
    Video games
{% endblock %}
{% block amn_ent_boa %}
    Board games
{% endblock %}

{% block amn_cle %}
    Cleanliness
{% endblock %}
{% block amn_cle_enh %}
    Enhanced cleaning practices
{% endblock %}
{% block amn_cle_cle %}
    Cleaning
{% endblock %}

{% block rev_tit %}
    Leave a review
{% endblock %}
{% block rev_tit_tit %}
    Review title
{% endblock %}
{% block rev_nam %}
    Your name
{% endblock %}
{% block rev_ema %}
    Your email
{% endblock %}
{% block rev_mes %}
    Review message
{% endblock %}
{% block rev_clo %}
    Close
{% endblock %}
{% block rev_sub %}
    Submit
{% endblock %}

{% block por_tit %}
    Staff Portal
{% endblock %}
{% block por_use %}
    Username
{% endblock %}
{% block por_pas %}
    Password
{% endblock %}
{% block por_clo %}
    Close
{% endblock %}
{% block por_sub %}
    Submit
{% endblock %}
