{% extends "index.html" %}

{% block lan_cur %}fr{% endblock %}

{% block nav_acc %}
    Hébergements
{% endblock %}
{% block nav_rat %}
    Prix & disonibilite
{% endblock %}
{% block nav_are %}
    Notre région
{% endblock %}
{% block nav_res %}
    Réservations
{% endblock %}
{% block nav_gue %}
    Livre d’or
{% endblock %}

{% block welcome %}
    Bienvenue
{% endblock %}

{% block acc_tit %}
    Hébergements
{% endblock %}
{% block acc_des %}
    Bienvenue dans notre magnifique villa perchée au-dessus de la rivière Cez, à la périphérie de Saint Ambroix dans le Gard. À quelques minutes des nombreuses commodités de la ville et à proximité de trois sites du patrimoine mondial et d'autres attractions historiques, cette retraite luxueuse offre une vue imprenable sur la vallée. Avec son mélange intemporel d'élégance et de confort moderne, il promet des vacances inoubliables aux familles, amis ou couples à la recherche d'une escapade romantique et isolée.
{% endblock %}
{% block acc_sl1_tit %}
    Extérieur et environs
{% endblock %}
{% block acc_sl1_des %}
    En arrivant à la villa, vous serez captivé par la superbe façade en pierre avec des bougainvilliers en fleurs et des glycines au charme rustique. Entourée d'un jardin qui reste verdoyant tout l'été avec des oliviers, des lilas et du romarin parfumé, la propriété offre une ambiance sereine et une vue imprenable sur la campagne cévenole. Profitez de matinées paresseuses sur la terrasse et de soirées de couchers de soleil fascinants.

{% endblock %}
{% block acc_sl2_tit %}
    A l'intérieur
{% endblock %}
{% block acc_sl2_des %}
    Entrez dans la villa pour découvrir un mélange harmonieux d'architecture française traditionnelle et de design contemporain. Un mobilier élégant, des plafonds blancs avec de hautes poutres apparentes et des sols en pierre créent une atmosphère calme et relaxante. Le salon principal spacieux est doté de fenêtres sur deux côtés qui baignent l'espace de lumière naturelle et offrent des vues spectaculaires, tandis que des volets électriques bloquent la chaleur de la journée. Une cuisine élégante est équipée de tout le nécessaire pour préparer de délicieux repas à partir d'ingrédients locaux et mène à un deuxième salon tranquille avec un poêle à bois pour les soirées d'automne plus fraîches.

{% endblock %}
{% block acc_sl3_tit %}
    Les Chambres
{% endblock %}
{% block acc_sl3_des %}
    Pouvant accueillir confortablement huit personnes dans trois chambres doubles et une chambre lits jumeaux, chaque chambre est décorée avec élégance et individuellement pour s'adapter à l'âge de la propriété, avec des draps et des serviettes en coton frais ajoutant une touche supplémentaire de luxe. On a pensé à assurer la sécurité et l'amusement des jeunes tôt le matin, avec le grand palier du premier étage équipé d'une télévision, d'une XBOX, de DVD et de jeux. Il y a une salle de bain familiale avec douche et toilettes séparées au premier étage, et une salle de douche au rez-de-chaussée avec toilettes facilement accessible depuis la terrace et la piscine.
{% endblock %}
{% block acc_sl4_tit %}
    À l'extérieur
{% endblock %}
{% block acc_sl4_des %}
    La piscine bien proportionnée et entourée d'oliviers est parfaitement conçue et équipée pour s'amuser, se détendre et manger à l'extérieur. Après un barbecue au bord de la piscine, vous et vos invités pourrez manger confortablement ensemble sous la canopée bordée de glycine, avant de bronzer ou de vous détendre dans le coin salon ombragé au bord de la piscine. Une deuxième terrasse couverte, mais communicante, offre un espace pour le tennis de table et les jeux de société tout en étant protégée du soleil. Délimitée par une voie ferrée abandonnée  et une colline boisée à l'arrière, la villa, la piscine et le jardin  sont privés ne sans vis- à -vis.
{% endblock %}
{% block acc_sli_nex %}
    Suivante
{% endblock %}
{% block acc_sli_pre %}
    Précédente
{% endblock %}

{% block acc_inf_hou %}
    Maison
{% endblock %}
{% block acc_inf_gue %}
    8 Personnes
{% endblock %}
{% block acc_inf_bed %}
    4 Chambres
{% endblock %}
{% block acc_inf_bat %}
    2 Salles de bains
{% endblock %}

{% block acc_inf_sml_wif %}
    Wifi gratuit
{% endblock %}
{% block acc_inf_sml_swi %}
    Piscine
{% endblock %}
{% block acc_inf_sml_kit %}
    Cuisine
{% endblock %}
{% block acc_inf_sml_was %}
    Machine à laver

{% endblock %}
{% block acc_inf_sml_pet %}
    Animaux acceptés
{% endblock %}
{% block acc_inf_sml_chi %}
    Adapté aux enfants
{% endblock %}
{% block acc_inf_amn %}
    Afficher les 50 commodités
{% endblock %}

{% block acc_inf_inf_tit %}
    Information
{% endblock %}
{% block acc_inf_inf_des %}
    Offrant un parking sécurisé pouvant accueillir jusqu'à 4 voitures sur un terrain privé de plus de
 1600 m2 avec 18 oliviers à travers

{% endblock %}

{% block acc_inf_inf_des2 %}
    portails automatiques.<br>
    <br>
    Construit à l'origine comme une grange en pierre et joliment converti et agrandi, il offre un mélange d'espaces de vie traditionnels et modernes.<br>
    <br>

Avec une vue imprenable dans une position élevée à la limite de la ville, la maison et le terrain ne sont pas vis à vis et offrent une vue imprenable le long de la rivière Cèze et sur une vallée boisée jusqu'aux collines au-delà, mais la propriété n'est qu'à quelques minutes des supermarchés et de la toutes les installations de Sainte Ambroix - un bourg médiéval historique et prospère avec de nombreux cafés et restaurants. Les adolescents et les adultes seront également ravis de savoir qu'il se trouve à seulement cinq minutes à pied d'une plage fluviale et d'un bistro convivial qu'on ne peut ni voir ni entendre depuis la propriété.<br>
    <br>
    Les espaces extérieurs offrent une variété d'espaces ensoleillés et ombragés pour manger, se détendre ou jouer : deux grands patios couverts avec tables à manger, un coin cuisine extérieur, une piscine de 40 m2 et un coin salon ombragé supplémentaire au bord de la piscine.<br>
    <br>

Le salon principal et la cuisine américaine bien équipée sont lumineux et modernes avec des murs entièrement vitrés sur deux côtés et des volets électriques pour les garder au frais. Un deuxième salon confortable avec cheminée et poêle à bois mène à un bureau équipé d'une imprimante et d'un moniteur si vous avez besoin de travailler pendant votre séjour.<br>
    <br>
    Quatre chambres (trois doubles et une avec lits jumeaux) sont décorées individuellement, les deux pièces principales offrant une vue fantastique sur la vallée. Il y a une salle de douche familiale avec WC et un deuxième WC au premier étage, ainsi qu'une salle de douche avec WC au rez-de-chaussée.<br>
    <br>
    Saint Ambroix est dans la haute vallée de la Cèze ; situé à la limite Est des Cévennes à seulement 30 minutes au sud-ouest des Gorges de l'Ardèche et de l'incontournable Vallon Pont d'Arc. Idéalement située pour découvrir les villages de caractère comme Lussan et ses poteries, le marché des antiquaires de Barjac ou le bourg historique d'Uzès, la propriété est également à environ une heure et quart de route de trois sites classés au patrimoine mondial ; Le Pont du Gard, l'amphithéâtre d'Orange, le Palais de Pape d'Avignon.<br>
    <br>
    Pour les sportifs, des aventures aquatiques et accrobranches sont proposées dans la Cèze, le Chassezac ou le Barrage de Villefort, ainsi que de nombreux itinéraires d'escalade et d'alpinisme, de promenade, de randonnée et de vélo.<br>
    <br>
    Piéces:<br>
    • 4 chambres pour 8 personnes<br>
    • 2 salles de douche avec toilettes<br>
    • WC séparé<br>
    • 2 Salon<br>
    • Cuisine<br>
    • Bureau<br>
    • 2 grandes tables à manger extérieures couvertes<br>
    • Coin salon extérieur couvert<br>
    <br>
    Équipé avec:<br>
    • 40m2 Piscine avec jacuzzi (gardée par alarme), sièges ombragés, transats et parasols<br>
    • Téléviseur intelligent grand écran, lecteur DVD, Xbox, Wii, enceinte Bluetooth, radio numérique, jeux et livres<br>
    • Fibre large bande<br>
    • Écran d'ordinateur et imprimante<br>
    • Cuisine bien équipée comprenant machine à café Tassimo, robot culinaire et réfrigérateur à vin<br>
    • Machine à laver<br>
    • Table de ping-pong et jeux extérieurs<br>
    • Barbecue en pierre et barbecue à bouilloire Webber<br>
    <br>
    Arrivée/Départ uniquement le dimanche<br>
    <br>
    Inclus:<br>
    Le linge est inclus dans le prix (draps, serviettes de bain et piscine).<br>
    Du linge supplémentaire est disponible si besoin pendant votre séjour et peut être fourni moyennant 25€ttc/personne et par séjour pour un set complet. Cela peut être commandé et payé après la réservation.<br>
    <br>
    Non inclus:<br>
    Taxe de Tourisme<br>

Celui-ci se change par adulte et par nuit et s'enlève sur place par chèque ou espèces (sauf Airbnb)<br>
    <br>
    Nettoyage:<br>
    Un forfait ‘ménage intermédiaire’ obligatoire de 250 € est facturé au moment de la réservation et correspond à la désinfection et préparation de la maison entre deux locataires.<br>
    <br>
    Nous demandons à nos locataires de laisser la maison propre et rangée et telle qu'ils l'ont trouvée à leur départ (cuisine et sanitaires propres, réfrigérateur et placards vidés, poubelles vidées et recyclage enlevés, etc.).<br>
    <br>
    Animaux domestiques:<br>
    Les animaux sont acceptés dans la maison mais nous vous demanderons de payer un supplément animal (30€/animal/semaine) pour couvrir le temps de ménage accru nécessaire et demanderons aux propriétaires de faire attention à ne pas laisser de déjections de chien dans le jardin pour gâcher le séjour de invités suivants.<br>
    Il doit être informé avant votre séjour que vous amenez un animal de compagnie..<br>
    <br>
    Damage:<br>
    La caution de 500 euros n'est encaissée que si des dégâts sont causés au bien.<br>
    Notre système de dépôt sécurisé (Swikly) conserve simplement le montant sur votre carte de crédit.
{% endblock %}
{% block acc_inf_inf_rea %}
    En savoir plus
{% endblock %}
{% block acc_inf_inf_hid %}
    Cacher
{% endblock %}

{% block rat_tit %}
    Tarifs et disponibilités
{% endblock %}
{% block rat_des %}
    Informations sur les tarifs et disponibilités
{% endblock %}

{% block rat_ear_tit %}
    Basse saison
{% endblock %}
{% block rat_ear_jan %}
    Avril
{% endblock %}
{% block rat_ear_apr %}
    Mai
{% endblock %}
{% block rat_ear_may %}
Septembre
{% endblock %}
{% block rat_ear_rat %}
   Tarifs par semaine

{% endblock %}
{% block rat_ear_jan_rat %}
    €1200 /  €1500
{% endblock %}
{% block rat_ear_apr_rat %}
€1200 /  €1500
{% endblock %}
{% block rat_ear_may_rat %}
€1200 /  €1500
{% endblock %}

{% block rat_hig_tit %}
    Mi-saison
{% endblock %}
{% block rat_hig_jul %}
    May - June
{% endblock %}
{% block rat_hig_rat %}
    Tarifs par semaine
{% endblock %}
{% block rat_hig_jul_rat %}
    €1750
{% endblock %}

{% block rat_lat_tit %}
    Haute season
{% endblock %}
{% block rat_lat_sep %}
   juillet
{% endblock %}
{% block rat_lat_oct %}
Août

{% endblock %}
{% block rat_lat_nov %}
    November
{% endblock %}
{% block rat_lat_dec %}
    December
{% endblock %}
{% block rat_lat_rat %}
    Tarifs par semaine
{% endblock %}
{% block rat_lat_sep_rat %}
    €2350
{% endblock %}
{% block rat_lat_oct_rat %}
    €2350
{% endblock %}
{% block rat_lat_nov_rat %}
    €375
{% endblock %}    €2350

{% block rat_lat_dec_rat %}
    €375
{% endblock %}

{% block are_tit %}
    Notre région

{% endblock %}
{% block are_des %}
    Explorez les environs en choisissant des catégories et en cliquant sur les épingles de la carte pour en savoir plus

{% endblock %}
{% block are_his %}
    Sites historiques
{% endblock %}
{% block are_act %}
Activités
{% endblock %}
{% block are_sce %}
    Paysages et promenades
{% endblock %}
{% block are_sho %}
Achats
{% endblock %}
{% block are_map_pla %}
    Entrez un emplacement
{% endblock %}

{% block res_tit %}
    Réservations

{% endblock %}
{% block res_des %}
    Faites une réservation ici.

{% endblock %}
{% block res_nam %}
    Nom
{% endblock %}
{% block res_ema %}
    E-mail
{% endblock %}
{% block res_arr %}
    Arriv ée (DD/MM/YY)
{% endblock %}
{% block res_dep %}
    D épart (DD/MM/YY)
{% endblock %}
{% block res_pho %}
    Num éro de téléphone

{% endblock %}
{% block res_mes %}
    Votre message*
{% endblock %}
{% block res_sen %}
    ENVOYER LE MESSAGE
{% endblock %}
{% block res_con %}
    Vous pouvez également nous contacter au: mas.de.barras@gmail.com
{% endblock %}

{% block gue_tit %}
    Livre d’or
{% endblock %}
{% block gue_des %}
    d'autres personnes ont dit de nous !

{% endblock %}
{% block gue_wri %}
    Écrit par
{% endblock %}
{% block gue_sec_wri %}
    Écrit par
{% endblock %}
{% block gue_app %}
    Approve Review
{% endblock %}
{% block gue_del %}
    Delete Review
{% endblock %}
{% block gue_rev %}
    Vous souhaitez laisser un avis ? Cliquez ici!
{% endblock %}

{% block foo_own %}
    Jerry and Honey Barras - Les propriétaires

{% endblock %}
{% block foo_log %}
    Se déconnecter

{% endblock %}
{% block foo_por %}
    Staff Portal
{% endblock %}

{% block amn_tit %}
    Agréments
{% endblock %}

{% block amn_poo %}
    Pool
{% endblock %}
{% block amn_poo_swi %}
    piscine

{% endblock %}
{% block amn_poo_pri %}
    piscine privée
{% endblock %}
{% block amn_gen %}
    Générale

{% endblock %}
{% block amn_gen_wif %}
    Wifi gratuit
{% endblock %}
{% block amn_gen_was %}
    Machine à laver
{% endblock %}
{% block amn_gen_wir %}
    Radio
{% endblock %}
{% block amn_gen_fir %}
    heminée

{% endblock %}
{% block amn_gen_che %}
    Enregistrement en personne

{% endblock %}
{% block amn_gen_hai %}
    Sèche-cheveux

{% endblock %}
{% block amn_gen_han %}
    Cintres
{% endblock %}
{% block amn_gen_iro %}
    Fer
{% endblock %}
{% block amn_gen_lap %}
    Espaces de travail adaptés aux ordinateurs portables
{% endblock %}
{% block amn_gen_tv %}
    TV
{% endblock %}
{% block amn_gen_gri %}
    BBQ
{% endblock %}
{% block amn_gen_gar %}
    Jardin
{% endblock %}
{% block amn_gen_hot %}
    Eau chaud
{% endblock %}
{% block amn_gen_ent %}
    Entrée privée
{% endblock %}
{% block amn_gen_coo %}
    Les bases de la cuisine
{% endblock %}

{% block amn_kit %}
    Cuisine et salle à manger

{% endblock %}
{% block amn_kit_kit %}
    Cuisine
{% endblock %}
{% block amn_kit_toa %}
   Réfrigérateur à vin
{% endblock %}
{% block amn_kit_dis %}
    Lave-vaisselle
{% endblock %}
{% block amn_kit_mic %}
    Four micro onde
{% endblock %}
{% block amn_kit_ove %}
    Four
{% endblock %}
{% block amn_kit_ket %}
    Bouilloire électrique

{% endblock %}
{% block amn_kit_cof %}
    Cafetière
{% endblock %}
{% block amn_kit_sto %}
    Poêle

{% endblock %}
{% block amn_kit_ref %}
    Réfrigérateur
{% endblock %}
{% block amn_kit_hig %}
    Chaise haute
{% endblock %}
{% block amn_kit_ute %}
    Ustensiles de cuisine
{% endblock %}
{% block amn_kit_din %}
    Salle à manger
{% endblock %}
{% block amn_kit_tab %}
    Table à manger
{% endblock %}
{% block amn_kit_bar %}
    BBQ ustensiles
{% endblock %}
{% block amn_kit_ble %}
    Mixeur
{% endblock %}
{% block amn_kit_fre %}
    Congélateur
{% endblock %}
{% block amn_kit_win %}
    Verres à vin
{% endblock %}
{% block amn_pol %}
    Politique
{% endblock %}
{% block amn_pol_pet %}
    Animaux acceptés
{% endblock %}
{% block amn_pol_chi %}
    Convient aux enfants
{% endblock %}
{% block amn_pol_inf %}
    Convient aux nourrissons
{% endblock %}

{% block amn_saf %}
    Sécurité
{% endblock %}
{% block amn_saf_smo %}
    Détecteur de fumée
{% endblock %}
{% block amn_saf_car %}
    Detecteur de monoxyde de carbone
{% endblock %}
{% block amn_saf_aid %}
    Trousse de premiers secours
{% endblock %}
{% block amn_saf_fir %}
    Extincteur d'incendie
{% endblock %}

{% block amn_car %}
    Parking
{% endblock %}
{% block amn_car_par %}
    Parking gratuit
{% endblock %}
{% block amn_car_nec %}
    voiture nécessaire
{% endblock %}

{% block amn_ent %}
    Divertissement
{% endblock %}
{% block amn_ent_boo %}
    Livres
{% endblock %}
{% block amn_ent_dvd %}
    DVDs
{% endblock %}
{% block amn_ent_pin %}
    Table de ping-pong
{% endblock %}
{% block amn_ent_vid %}
    Jeux vidéo
 {% endblock %}
{% block amn_ent_boa %}
    Jeux de société
{% endblock %}

{% block amn_cle %}
    Propreté
{% endblock %}
{% block amn_cle_enh %}
    Pratiques de nettoyage améliorées
{% endblock %}
{% block amn_cle_cle %}
    Nettoyage
{% endblock %}

{% block rev_tit %}
    Laisser un commentaire
{% endblock %}
{% block rev_tit_tit %}
    Titre du commentaire
{% endblock %}
{% block rev_nam %}
    Votre nom
{% endblock %}
{% block rev_ema %}
    Votre email
{% endblock %}
{% block rev_mes %}
    Message de révision
{% endblock %}
{% block rev_clo %}
    Fermer
{% endblock %}
{% block rev_sub %}
   Soumettre

{% endblock %}

{% block por_tit %}
    Staff Portal
{% endblock %}
{% block por_use %}
    Nom d'utilisateur
{% endblock %}
{% block por_pas %}
    Mot de passe
{% endblock %}
{% block por_clo %}
    Fermer
{% endblock %}
{% block por_sub %}
    Soumettre
{% endblock %}